.banner {
  align-items: center;
  background-color: rgb(60, 60, 100);
  border: 0px solid white; /* for debugging */
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.gitsyLogo {
  border: 0px;
  cursor: pointer;
  line-height: 0px;
  padding: 0px;
}
.gitsyLogoPic {
  height: 30px;
}
