GIT_HUB_TOKEN=# look in DEVELOPMENT.md for a guide on setting this up; set this in GitHub secrets too.
              # current architecture requires the token to be in .env AND in GitHub Secrets.
              # this will change in the future and there shouldn't be a need for a .env file.
