# Python virtual environment
venv/

# pycache
__pycache__/

# pytest cache
.pytest_cache/ 

# environment variables passed in by docker compose
.env

# frontend
node_modules/
.vite/

# editor directories and files
.vscode/
.idea/

# formatting rules for reference
# a/ - ignores any directory <dir> and its contents everywhere
# /a - ignores any file or directory <a> only at the project root
# a - ignores any file or directory <a> everywhere
# *.a - ignores any file ending in .a everywhere
