.footer {
  border-top: 1px solid rgb(60, 60, 100);
  bottom: 0;
  left: 0;
  right: 0;
  position: static;
  text-align: center;
}
.footer p {
  color: rgb(240, 240, 240);
  font-family: Helvetica, sans-serif;
}
.footer p a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}
.footer p a:hover {
  text-decoration: underline;
}
