.card {
  background-color: rgb(90, 90, 150);
  border: 0px solid white; /* for debugging */
  border-radius: 10px;
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  min-height: 0;
  padding: 20px;
}
.card h1 {
  border: 0px solid white; /* for debugging */
  margin: 0;
}
.card div {
  border: 0px solid white; /* for debugging */
  font-family: Helvetica, sans-serif;
  font-size: clamp(1em, 2cqi, 2em);
}
