html,
body,
#root {
  height: 100%;
}

body {
  background-color: rgb(30, 30, 50);
  border: 0px solid aqua; /* for debugging */
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}
