.getStartedButton {
  align-items: center;
  background-color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 20px;
  color: rgb(0, 80, 0);
  cursor: pointer;
  display: flex;
  font:
    1.75em Helvetica,
    sans-serif;
  height: 100px;
  justify-content: center;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.getStartedButton:hover {
  border: 2px solid white;
}
