.createReportHeader {
  color: white;
  border: 0px solid white; /* for debugging */
  font:
    4em Helvetica,
    sans-serif;
  text-align: center;
}

.reportForm {
  border: 0px solid white; /* for debugging */
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 3px;
  max-height: 30%;
  max-width: 100%;
  padding: 0px;
  width: 500px;
}
.reportForm input {
  border: 3px solid aquamarine;
  border-radius: 15px;
  flex: 0.8;
  margin-right: 2px;
  font:
    1.25em Helvetica,
    sans-serif;
}
.reportForm input:focus {
  border: 3px solid aqua;
  outline: none;
}
.reportForm button {
  border: 3px solid aquamarine;
  border-radius: 15px;
  flex: 0.2;
  margin-left: 2px;
}

.reportDisplay {
  align-items: stretch;
  border: 0px solid white /* for debugging */;
  color: white;
  display: flex;
  flex-direction: column;
  font:
    1em Helvetica,
    sans-serif;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 90%;
  width: 600px;
}

.main {
  align-items: center;
  border: 0px solid white; /* for debugging */
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
