.mainConfig {
  flex-direction: column;
  justify-content: center;
}

.getStarted {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: white;
  text-align: center;
  font: 2em Verdana;
}
.question {
  color: white;
  font-size: 1.25em;
  font-family: Helvetica;
  line-height: 150%;
}

.answer {
  color: white;
  font-size: 1.25em;
  font-family: Helvetica;
  line-height: 150%;
}
