.mainButtons {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 0px solid white;
}
.mainButtons button {
  width: 50%;
  height: 100%;
  max-width: 200px;

  margin-left: 5px;
  margin-right: 5px;
  font:
    1.5em Helvetica,
    sans-serif;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
}
.createReportButton {
  background-color: rgb(0, 145, 255);
}
.createReportButton:hover {
  border: 2px solid white;
}
.getStartedButton {
  background-color: rgb(0, 255, 0);
}
.getStartedButton:hover {
  border: 2px solid white;
}
